In [519]:
# Import dependencies
import pandas as pd
import numpy as np

pd.set_option('max_colwidth', 400)

# Read the data into a Pandas DataFrame
crowdfunding = pd.read_excel(r'C:\Users\soone\1CrowdFunding_LM\Resources\crowdfunding.xlsx')

# Get a brief summary of the crowdfunding_info DataFrame.
print(crowdfunding.head())

   cf_id  contact_id                 company_name  \
0    147        4661   Baldwin, Riley and Jackson
1   1621        3765                     Odom Inc
2   1812        4187   Melton, Robinson and Fritz
3   2156        4941  Mcdonald, Gonzalez and Ross
4   1365        2199                Larson-Little

                                           blurb    goal  pledged     outcome  \
0           Pre-emptive tertiary standardization     100        0      failed
1               Managed bottom-line architecture    1400    14560  successful
2   Function-based leadingedge pricing structure  108400   142523  successful
3  Vision-oriented fresh-thinking conglomeration    4200     2477      failed
4                      Proactive foreground core    7600     5265      failed

   backers_count country currency  launched_at    deadline  staff_pick  \
0              0      CA      CAD   1581573600  1614578400       False
1            158      US      USD   1611554400  1621918800       False
2           1425      AU      AUD   1608184800  1640844000       False
3             24      US      USD   1634792400  1642399200       False
4             53      US      USD   1608530400  1629694800       False

   spotlight category & sub-category
0      False        food/food trucks
1       True              music/rock
2      False          technology/web
3      False              music/rock
4      False           theater/plays

In [520]:
# Get the crowdfunding_info_df columns.
column_headers = crowdfunding.columns.tolist()
column_headers

['cf_id',
 'contact_id',
 'company_name',
 'blurb',
 'goal',
 'pledged',
 'outcome',
 'backers_count',
 'country',
 'currency',
 'launched_at',
 'deadline',
 'staff_pick',
 'spotlight',
 'category & sub-category']

In [521]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding[['category', 'subcategory']] = crowdfunding['category & sub-category'].str.split('/', n=1, expand=True)

crowdfunding

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks,food,food trucks

In [522]:
column_headers

['cf_id',
 'contact_id',
 'company_name',
 'blurb',
 'goal',
 'pledged',
 'outcome',
 'backers_count',
 'country',
 'currency',
 'launched_at',
 'deadline',
 'staff_pick',
 'spotlight',
 'category & sub-category']

In [523]:
# Get the unique categories and subcategories in separate lists.
category_list = ['food', 'music', 'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']
subcategory_list = ['food trucks', 'rock', 'web', 'plays', 'documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction', 'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz', 'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']

category_list

['food',
 'music',
 'technology',
 'theater',
 'film & video',
 'publishing',
 'games',
 'photography',
 'journalism']

In [524]:
subcategory_list

['food trucks',
 'rock',
 'web',
 'plays',
 'documentary',
 'electric music',
 'drama',
 'indie rock',
 'wearables',
 'nonfiction',
 'animation',
 'video games',
 'shorts',
 'fiction',
 'photography books',
 'radio & podcasts',
 'metal',
 'jazz',
 'translations',
 'television',
 'mobile games',
 'world music',
 'science fiction',
 'audio']

In [525]:
# Get the number of distinct values in the categories and subcategories lists.
num_distinct_categories = crowdfunding['category'].nunique()
num_distinct_subcategories = crowdfunding['subcategory'].nunique()

print(num_distinct_categories)
print(num_distinct_subcategories)

9
24

In [526]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_id = np.arange(1, 10)
subcategory_id = np.arange(1, 25)

print(category_id)
print(subcategory_id)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [527]:
# Use a list comprehension to add "cat" to each category_id. 
category_id = np.arange(1, 10)
category_labels = [f'cat{cat_id}' for cat_id in category_id]
print(category_labels)

# Use a list comprehension to add "subcat" to each subcategory_id.    
subcategory_id = np.arange(1, 25)
subcategory_labels = [f'subcat{subcat_id}' for subcat_id in subcategory_id]
print(subcategory_labels)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [528]:
# Create a category_df DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({
    'category_id': category_labels,
   
})
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_df = pd.DataFrame({
    'subcategory_id': subcategory_labels,
})

In [529]:
category_df

  category_id
0        cat1
1        cat2
2        cat3
3        cat4
4        cat5
5        cat6
6        cat7
7        cat8
8        cat9

In [530]:
subcategory_df

   subcategory_id
0         subcat1
1         subcat2
2         subcat3
3         subcat4
4         subcat5
5         subcat6
6         subcat7
7         subcat8
8         subcat9
9        subcat10
10       subcat11
11       subcat12
12       subcat13
13       subcat14
14       subcat15
15       subcat16
16       subcat17
17       subcat18
18       subcat19
19       subcat20
20       subcat21
21       subcat22
22       subcat23
23       subcat24

In [531]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [532]:
import pandas as pd
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. complete w/multidates
campaign_df = crowdfunding.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [533]:
# Rename the blurb, launched_at, and deadline columns.Copmplete w/original dates.
campaign_df = campaign_df.rename(columns={'blurb': 'description', 'launched_at': 'launch_date',
'deadline': 'end_date'})
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [534]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df['goal'] = campaign_df['goal'].astype(float)
campaign_df['pledged'] = campaign_df['pledged'].astype(float)

In [535]:
# Check the datatypes
campaign_df.dtypes

cf_id                        int64
contact_id                   int64
company_name                object
description                 object
goal                       float64
pledged                    float64
outcome                     object
backers_count                int64
country                     object
currency                    object
launch_date                  int64
end_date                     int64
staff_pick                    bool
spotlight                     bool
category & sub-category     object
category                    object
subcategory                 object
dtype: object

In [536]:
# Format the launched_date and end_date columns to datetime format

campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'], unit='s')
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'], unit='s')

campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,False,False,theater/plays,theater,plays

In [537]:
# Drop unwanted columns

columns_to_drop = ['staff_pick', 'spotlight', 'outcome', 'category & sub-category', 'category', 'subcategory']
campaign_df = campaign_df.drop(columns=columns_to_drop)

campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,backers_count,country,currency,launch_date,end_date
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00

In [543]:
#campaign_df = campaign_df.merge(category_df[['category_id']], on='category_id', how='left')
#need to create columns: category_id and subcategory_id to campaign_df in order to merge over the data from each.
#SKIP
print(campaign_df.columns)
print(category_df.columns)
print(subcategory_df.columns)

Index(['cf_id', 'contact_id', 'company_name', 'description', 'goal', 'pledged',
       'backers_count', 'country', 'currency', 'launch_date', 'end_date'],
      dtype='object')
Index(['category_id'], dtype='object')
Index(['subcategory_id'], dtype='object')

In [544]:
# Export the DataFrame as a CSV file. MISSING COLUMNS CATEGORY_ID AND SUBCATEGORY_ID
campaign_df.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [191]:
import pandas as pd             #Is this header 2 or 3?
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [194]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json

#contact_info_dicts = contact_info_df.to_dict(orient='records')

#Print out the list of values for each row.

#print(contact_info_df)

In [177]:
#extra step, splitting contact_info_df into columns as contact_info_df_split
# # Assuming contact_info_df is your existing DataFrame
# Splitting the 'contact_info' column by the delimiter ',"'
contact_info_df_split = contact_info_df['contact_info'].str.split(',"', expand=True)

# Display the resulting DataFrame
#print(split_contact_info)

KeyError: 'contact_info'

In [173]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.
# Sample data for the DataFrame

contact_info_df = contact_info_df['contact_id'].tolist()

#data = {
#    'contact_id': [1, 2, 3],
#    'name': ['Alice', 'Bob', 'Charlie'],
#    'email': ['alice@example.com', 'bob@example.com', 'charlie@example.com']
#}

# Create the DataFrame
contact_info_df = pd.DataFrame(data)

# Display the DataFrame
print(contact_info_df)

KeyError: 'contact_id'

In [ ]:
# Check the datatypes.

In [364]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

In [361]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []
contact_info_df['contact_info']

first_row = contact_info_df.iloc[0][0]
print(first_row)
# Convert the data to a Python dictionary. 
converted_data = json.loads(first_row)
print(converted_data)

#for k, v in converted_data.items():
   # print(k)
   # print(v)
   # print(f"{k} :  {v}")
# Print out the list of values for each row.
#print(dict_values)

for index, row in contact_info_df.iterrows():
    first_row = contact_info_df.iloc[0][0]
    data_in_json = json.loads(row['contact_info'])
    #print("*******************************")
    #print(data_in_json)
    
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    row_values =[value for key, value in data_in_json.items()]
    # Append the list of values for each row to a list. 
    dict_values.append(row_values)

# Print out the list of values for each row.
print(dict_values)

[]

In [362]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

In [365]:
# Reorder the columns

In [366]:
# Check the datatypes one more time before exporting as CSV file.

In [367]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

NameError: name 'contacts_df_clean' is not defined